<section class="travel-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-travel-boxes">
          <div id="desc-tabs" class="desc-tabs">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">
                  <i class="fa fa-plane"></i>
                  flights
                </a>
              </li>
              <li role="presentation">
                <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">
                  <i class="fa fa-building"></i>
                  hotels
                </a>
              </li>
              <li role="presentation">
                <a href="#transports" aria-controls="tours" role="tab" data-toggle="tab">
                  <i class="fas fa-car"></i>
                  transports
                </a>
              </li>




            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in" id="transports">
                <form [formGroup]="transportSearchForm" (ngSubmit)="afficherTransport(currentPageTransport, 10)">
                  <div class="tab-para">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-tab-select-box">
                          <h2>From</h2>
                          <div class="travel-select-icon">
                            <select class="form-control" formControlName="address">
                              <option value="">Enter your departure location</option>
                              <option *ngFor="let departure of locationsTransport" [value]="departure">{{ departure }}</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>Person</h2>
                          <div class="travel-icon">
                            <input type="number" name="nbPerson" formControlName="nbPerson" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>Luggage</h2>
                          <div class="travel-icon">
                            <input type="number" name="nbLuggage" formControlName="nbLuggage" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-tab-select-box">
                          <h2>Car Mark</h2>
                          <div class="travel-select-icon">
                            <select class="form-control" formControlName="mark">
                              <option value="">Select a car mark</option>
                              <option *ngFor="let destination of markTransport" [value]="destination">{{ destination }}</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>Min price ( $ )</h2>
                          <div class="travel-icon">
                            <input type="number" name="minPriceTransport" formControlName="minPriceTransport" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>Max price ( $ )</h2>
                          <div class="travel-icon">
                            <input type="number" name="maxPriceTransport" formControlName="maxPriceTransport" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-5">
                        <div class="about-btn pull-right">
                          <button type="submit" class="about-view travel-btn">
                            Search
                          </button>
                        </div>
                      </div>

                    </div><!--/.row-->

                  </div>
                </form>
              </div><!--/.tabpannel-->

              <div role="tabpanel" class="tab-pane fade in" id="hotels">
                <form [formGroup]="hotelSearchForm" (ngSubmit)="afficherhotel(currentPageHotel, itemsPerPageHotel)">
                  <div class="tab-para">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-tab-select-box">
                          <h2>Country</h2>
                          <div class="travel-select-icon">
                            <select class="form-control" formControlName="country">
                              <option value="">Select your destination country</option>
                              <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                            </select>
                          </div>
                          </div></div>


                      <div class="col-lg-4 col-md-3 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>stars Number</h2>
                          <div class="travel-select-icon">
                            <select class="form-control" formControlName="starNumber">
                              <option value=0>Select the number of stars </option>
                              <option value=1>1</option>
                              <option value=2>2</option>
                              <option value=3>3</option>
                              <option value=4>4</option>
                              <option value=5>5</option>

                            </select>
                          </div>
                        </div>
                      </div>
</div><div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-tab-select-box">
                          <h2>City</h2>
                      <div class="travel-select-icon">
                        <select class="form-control" formControlName="location">
                          <option value="">Select your destination city</option>
                          <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                        </select>
                      </div>
                    </div>
                  </div>



                    <div class="col-lg-2 col-md-1 col-sm-4">
                      <div class="single-tab-select-box">
                        <h2>Min price ( $ )</h2>
                        <div class="travel-icon">
                          <input type="number" name="minPrice" formControlName="minPrice" class="form-control">

                        </div><!-- /.travel-select-icon -->
                      </div><!--/.single-tab-select-box-->
                    </div><!--/.col-->
                    <div class="col-lg-2 col-md-1 col-sm-12">
                      <div class="single-tab-select-box">
                        <h2>Max price ( $ )</h2>
                        <div class="travel-icon">
                          <input type="number" name="maxPrice" formControlName="maxPrice" class="form-control">

                        </div><!-- /.travel-select-icon -->
                      </div><!--/.single-tab-select-box-->
                    </div><!--/.col-->

                      <div class="clo-sm-5">
                        <div class="about-btn pull-right">
                          <button type="submit" class="about-view travel-btn">search</button>
                        </div>
                    </div> </div>

                  </div>
                </form>
              </div>





              <div role="tabpanel" class="tab-pane active fade in" id="flights">
                <form [formGroup]="searchForm" (ngSubmit)="afficher(currentPage,itemsPerPage)">
                  <div class="tab-para">
                    <div class="trip-circle">
                      <div class="single-trip-circle">
                        <input type="radio" id="radio01" name="radio" [checked]="!tripType"
                          (change)="tripType = !tripType" />
                        <label for="radio01">
                          <span class="round-boarder">
                            <span class="round-boarder1"></span>
                          </span>round trip
                        </label>
                      </div><!--/.single-trip-circle-->
                      <div class="single-trip-circle">
                        <input type="radio" id="radio02" name="radio" [checked]="tripType"
                          (change)="tripType = !tripType" />
                        <label for="radio02">
                          <span class="round-boarder">
                            <span class="round-boarder1"></span>
                          </span>on way
                        </label>
                      </div><!--/.single-trip-circle-->
                    </div><!--/.trip-circle-->
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-tab-select-box">

                          <h2>from</h2>

                          <div class="travel-select-icon">
                            <select class="form-control" formControlName="from">

                              <option value="">enter your location</option><!-- /.option-->
                              <option *ngFor="let departure of departures" [value]="departure">{{ departure }}</option>

                            </select><!-- /.select-->
                          </div><!-- /.travel-select-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->

                      <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>departure</h2>
                          <div class="travel-check-icon">
                            <input type="date" name="departure" class="form-control" formControlName="departure"
                              placeholder="12 -01 - 2017 ">
                          </div><!-- /.travel-check-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->

                      <div class="col-lg-2 col-md-3 col-sm-4" *ngIf="tripType === true">
                        <div class="single-tab-select-box">
                          <h2>return</h2>
                          <div class="travel-check-icon">
                            <input type="date" name="return" class="form-control" data-toggle="datepicker"
                              formControlName="return">
                          </div><!-- /.travel-check-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->

                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>adults</h2>
                          <div class="travel-icon">
                            <input type="number" name="nbAdults" formControlName="nbAdult" class="form-control"
                              data-toggle="datepicker">

                          </div><!-- /.travel-select-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->

                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>children</h2>
                          <div class="travel-icon">
                            <input type="number" name="nbChildren" formControlName="nbChildren" class="form-control"
                              data-toggle="datepicker">

                          </div><!-- /.travel-select-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->

                    </div><!--/.row-->

                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-tab-select-box">

                          <h2>to</h2>

                          <div class="travel-select-icon">
                            <select class="form-control" formControlName="to">

                              <option value="">enter your destination location</option><!-- /.option-->
                              <option *ngFor="let destination of destinations" [value]="destination">{{ destination }}
                              </option>


                            </select><!-- /.select-->
                          </div><!-- /.travel-select-icon -->

                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->
                      <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="single-tab-select-box">

                          <h2>class</h2>
                          <div class="travel-select-icon">
                            <select class="form-control" formControlName="type">

                              <option value="">Choose class</option><!-- /.option-->

                              <option value="business">Business</option><!-- /.option-->

                              <option value="economic">Economic</option><!-- /.option-->

                            </select><!-- /.select-->
                          </div><!-- /.travel-select-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->
                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>Min price ( $ )</h2>
                          <div class="travel-icon">
                            <input type="number" name="minPrice" formControlName="minPrice" class="form-control">

                          </div><!-- /.travel-select-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->
                      <div class="col-lg-2 col-md-1 col-sm-4">
                        <div class="single-tab-select-box">
                          <h2>Max price ( $ )</h2>
                          <div class="travel-icon">
                            <input type="number" name="maxPrice" formControlName="maxPrice" class="form-control">

                          </div><!-- /.travel-select-icon -->
                        </div><!--/.single-tab-select-box-->
                      </div><!--/.col-->

                      <div class="clo-sm-5">
                        <div class="about-btn pull-right">
                          <button class="about-view travel-btn">
                            search
                          </button><!--/.travel-btn-->
                        </div><!--/.about-btn-->
                      </div><!--/.col-->

                    </div><!--/.row-->

                  </div>
                </form>
              </div><!--/.tabpannel-->

            </div><!--/.tab content-->
          </div><!--/.desc-tabs-->
        </div><!--/.single-travel-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->

</section><!--/.travel-box-->
<!--travel-box end-->
<div *ngIf="displayHome">
  <!--service start-->
  <section id="service" class="service">
    <div class="container">

      <div class="service-counter text-center">

        <div class="col-md-4 col-sm-4">
          <div class="single-service-box">
            <div class="service-img">
              <img src="assets/images/service/s1.png" alt="service-icon" />
            </div><!--/.service-img-->
            <div class="service-content">
              <h2>
                <a href="#">
                  amazing tour packages
                </a>
              </h2>
            </div><!--/.service-content-->
          </div><!--/.single-service-box-->
        </div><!--/.col-->

        <div class="col-md-4 col-sm-4">
          <div class="single-service-box">
            <div class="service-img">
              <img src="assets/images/service/s2.png" alt="service-icon" />
            </div><!--/.service-img-->
            <div class="service-content">
              <h2>
                <a href="#">
                  book top class hotel
                </a>
              </h2>
            </div><!--/.service-content-->
          </div><!--/.single-service-box-->
        </div><!--/.col-->

        <div class="col-md-4 col-sm-4">
          <div class="single-service-box">
            <div class="statistics-img">
              <img src="assets/images/service/s3.png" alt="service-icon" />
            </div><!--/.service-img-->
            <div class="service-content">

              <h2>
                <a href="#">
                  online flight booking
                </a>
              </h2>
            </div><!--/.service-content-->
          </div><!--/.single-service-box-->
        </div><!--/.col-->

      </div><!--/.statistics-counter-->
    </div><!--/.container-->

  </section><!--/.service-->
  <!--service end-->

  <!--galley start-->
  <section id="gallery" class="gallery">
    <div class="container">
      <div class="gallery-details">
        <div class="gallary-header text-center">
          <h2>
            top destination
          </h2>
        </div><!--/.gallery-header-->
      </div><!--/.gallery-details-->
    </div><!--/.container-->

  </section><!--/.gallery-->
  <!--gallery end-->


  <!--discount-offer start-->
  <section class="discount-offer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="dicount-offer-content text-center">
            <h2>Join with us within 21 January, 2024 and get upto 40% Discount</h2>
            <div class="campaign-timer">
              <div id="timer">
                <div class="time time-after" id="days">
                  <span></span>
                </div><!--/.time-->
                <div class="time time-after" id="hours">

                </div><!--/.time-->
                <div class="time time-after" id="minutes">

                </div><!--/.time-->
                <div class="time" id="seconds">

                </div><!--/.time-->
              </div><!--/.timer-->
            </div><!--/.campaign-timer-->
          </div><!-- /.dicount-offer-content-->
        </div><!-- /.col-->
      </div><!-- /.row-->
    </div><!-- /.container-->

  </section><!-- /.discount-offer-->
  <!--discount-offer end-->

  <!-- footer-copyright start -->
  <footer class="footer-copyright" id="footer">
    <div class="container">
      <div class="footer-content">
        <div class="row">

          <div class="col-sm-3">
            <div class="single-footer-item">
              <div class="footer-logo">
                <a href="index.html">
                  Fly<span>Ware</span>
                </a>
                <p>
                  best travel agency
                </p>
              </div>
            </div><!--/.single-footer-item-->
          </div><!--/.col-->

          <div class="col-sm-3">
            <div class="single-footer-item">
              <h2>link</h2>
              <div class="single-footer-txt">
                <p><a href="#">home</a></p>
                <p><a href="#gallery">destination</a></p>
                <p><a href="#footer">Contacts</a></p>
              </div><!--/.single-footer-txt-->
            </div><!--/.single-footer-item-->

          </div><!--/.col-->
          <div class="col-sm-3">
            <div class="single-footer-item text-center">
              <h2 class="text-left">contacts</h2>
              <div class="single-footer-txt text-left">
                <p>+216 22346543</p>
                <p class="foot-email"><a href="teamflyware@gmail.com">teamflyware@gmail.com</a></p>
                <p>Tunis Avenu Hbib Borguiba</p>
                <p>Tunis, TUNISIA</p>
              </div><!--/.single-footer-txt-->
            </div><!--/.single-footer-item-->
          </div><!--/.col-->

        </div><!--/.row-->

      </div><!--/.footer-content-->
      <hr>
      <div class="foot-icons ">
        <p>&copy; 2024 <a href="https://www.flyware.com">FlyWare</a>. All Right Reserved</p>

      </div><!--/.foot-icons-->
      <div id="scroll-Top">
        <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top"
          title="" data-original-title="Back to Top" aria-hidden="true"></i>
      </div><!--/.scroll-Top-->
    </div><!-- /.container-->

  </footer><!-- /.footer-copyright-->
</div>
<!--*************************************************************************************-->


<section id="pack" class="packages" *ngIf="displayFlight">
  <div class="container">
    <div class="gallary-header text-center">
      <h2>
        choose your flight
      </h2>

    </div><!--/.gallery-header-->
    <div class="packages-content">
      <div class="row">

        <div *ngFor="let flight of flights" class="col-md-4 col-sm-6">
          <div class="single-package-item">

            <img [src]="flight.imagePath" alt="package-place">
            <div class="single-package-item-txt">
              <h3>{{flight.destination}} <span class="pull-right">{{flight.price}} $</span></h3>
              <div class="packages-para">
                <p>
                  <span>
                    <i class="fa fa-plane-departure"></i> {{flight.date | date: 'yyyy-MM-dd'}}
                  </span>
                  <i class="fas fa-clock"></i> {{ formatDuration(flight.duration) }}
                </p>
                <p>
                  <span *ngIf="flight.returnDate!=null">
                    <i class="fa-solid fa-plane-arrival"></i> {{flight.returnDate | date: 'yyyy-MM-dd'}}
                  </span>
                  <i class="fa fa-angle-right"></i> {{flight.departure}}
                </p>
              </div><!--/.packages-para-->

              <div class="about-btn">
                <button class="about-view packages-btn" (click)="navigateToBookingPage(flight._id)">
                  book now
                </button>

              </div><!--/.about-btn-->

            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.packages-content-->
  </div><!--/.container-->
  <div class="clearfix text-center">
    <ul class="pagination">
      <li><a (click)="goToPreviousPage()" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
      <li class="page-item" [class.active]="currentPage === page"
        *ngFor="let page of generatePageNumbers(numberOfPages);">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item"><a (click)="goToNextPage()" class="page-link"><i class="fa fa-angle-double-right"></i></a>
      </li>
    </ul>
  </div>
</section>

<!-- hotel.component.html -->
<section id="hotels" class="packages" *ngIf="displayHotel">
  <div class="container">
    <div class="gallery-header text-center">
      <h2>Choose Your Hotel</h2>
    </div>
    <div class="packages-content">
      <div class="row">
        <div *ngFor="let hotel of hotels" class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <div class="stars">
              <a *ngFor="let _ of [].constructor(hotel?.starNumber); let i = index">
                <i class="fas fa-star text-warning yellow-star"></i>
              </a>
            </div>
            <img [src]="hotel.imageUrl" alt="package-place">
            <div class="single-package-item-txt">
              <h3>{{hotel.name }} <span class="pull-right">{{hotel.price}} $</span></h3>
              <div class="packages-para">
                <p>
                  <span>
                    <i class="fas fa-flag"></i> {{ hotel.country}}
                  </span>
                  <i class="fas fa-city"></i> {{ hotel.location }}
                </p>
                <p>
                  <span>
                    <i class="fas fa-location-dot"></i>{{ hotel.address }}</span>
                </p>
              </div><!--/.packages-para-->

              <div class="about-btn">
                <button class="about-view packages-btn" (click)="navigateToHotelBookingPage(hotel._id)">
                  book now
                </button>

              </div><!--/.about-btn-->



            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clearfix text-center">
    <ul class="pagination">
      <li ><a (click)="goToPreviousPageHotel()" class="page-link"><i
            class="fa fa-angle-double-left"></i></a></li>
      <li class="page-item" [class.active]="currentPageHotel+1 === page"
        *ngFor="let page of generatePageNumbersHotel(numberOfPagesHotel);">
        <a class="page-link" (click)="changePageHotel(page)">{{ page }}</a>
      </li>
      <li class="page-item"><a (click)="goToNextPageHotel()" class="page-link"><i
            class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</section>

<!-- hotel.component.html -->
<section id="hotels" class="packages" *ngIf="displayTransport" >
  <div class="container">
    <div class="gallery-header text-center">
      <h2>Choose Your Transport</h2>
    </div>
    <div class="packages-content">
      <div class="row">
        <div *ngFor="let transport of transports" class="col-md-4 col-sm-6">
          <div class="single-package-item">
           <img [src]="transport.imagePath" alt="package-place">
            <div class="single-package-item-txt">
              <h3>{{transport.mark }} <span class="pull-right">{{transport.price}} $</span></h3>
              <div class="packages-para">
                <p>
                  <span>
                    <i class="fas fa-location-dot"></i> {{ transport.location}}
                  </span>
                  <i class="fas fa-person"></i> {{ transport.nbPerson }}
                </p>
                <p>

                    <i class="fas fa-suitcase-rolling"></i> <span>{{ transport.nbLuggage }}</span>
                </p>
              </div><!--/.packages-para-->

              <div class="about-btn">
                <button class="about-view packages-btn" (click)="navigateToTransportBookingPage(transport._id)">
                  book now
                </button>

              </div><!--/.about-btn-->



            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clearfix text-center">
    <ul class="pagination">
      <li ><a (click)="goToPreviousPageTransport()" class="page-link"><i
            class="fa fa-angle-double-left"></i></a></li>
      <li class="page-item" [class.active]="currentPageTransport+1 === page"
        *ngFor="let page of generatePageNumbersTransport(numberOfPagesTransport);">
        <a class="page-link" (click)="changePageTransport(page)">{{ page }}</a>
      </li>
      <li class="page-item"><a (click)="goToNextPageTransport()" class="page-link"><i
            class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</section>
