  <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html"><h2>Travel Agency Website<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="packages.html">Packages</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>

                <div class="dropdown-menu">
                  <a class="dropdown-item" href="about.html">About Us</a>
                  <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                  <a class="dropdown-item" href="terms.html">Terms</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>€300 - €4000</h4>
              <h2>Lorem ipsum dolor sit amet.</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Banner Ends Here -->

  <section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div>
            <img src="assets/images/product-1-720x480.jpg" alt="" class="img-fluid wc-image">
          </div>

          <br>

          <div class="row">
            <div class="col-sm-4 col-6">
              <div>
                <img src="assets/images/product-1-720x480.jpg" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="assets/images/product-2-720x480.jpg" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="assets/images/product-3-720x480.jpg" alt="" class="img-fluid">
              </div>
              <br>
            </div>

            <div class="col-sm-4 col-6">
              <div>
                <img src="assets/images/product-4-720x480.jpg" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="assets/images/product-5-720x480.jpg" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="assets/images/product-6-720x480.jpg" alt="" class="img-fluid">
              </div>
              <br>
            </div>
          </div>

          <br>
        </div>

        <div class="col-md-5">
          <div class="sidebar-item recent-posts">
            <div class="sidebar-heading">
              <h2>Package Info</h2>
            </div>

            <div class="content">
              <p>- Available: Spring <br> - 20 nights <br> - Flight included <br> - 6 Regeneration Road, SE16 2NX, London</p>
            </div>
          </div>

          <br>
          <br>

          <div class="sidebar-item recent-posts">
            <div class="sidebar-heading">
              <h2>Contact Details</h2>
            </div>

            <div class="content">
              <p>
                <span>Name</span>

                <br>

                <strong>John Smith</strong>
              </p>

              <p>
                <span>Phone</span>

                <br>

                <strong>
                  <a href="tel:123-456-789">123-456-789</a>
                </strong>
              </p>

              <p>
                <span>Mobile phone</span>

                <br>

                <strong>
                  <a href="tel:456789123">456789123</a>
                </strong>
              </p>

              <p>
                <span>Email</span>

                <br>

                <strong>
                  <a href="mailto:john@carsales.com">john@carsales.com</a>
                </strong>
              </p>
            </div>
          </div>

          <br>

          <div class="main-button">
            <a href="#" data-toggle="modal" data-target="#exampleModal">Enquiry</a>
          </div>

          <br>
        </div>
      </div>
    </div>
  </section>

  <div class="section contact-us">
    <div class="container">
      <div class="sidebar-item recent-posts">
        <div class="sidebar-heading">
          <h2>Description</h2>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloremque sit, enim sint odio corporis illum perferendis, unde repellendus aut dolore doloribus minima qui ullam vel possimus magnam ipsa deleniti.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ducimus ab numquam magnam aliquid, odit provident consectetur corporis eius blanditiis alias nulla commodi qui voluptatibus laudantium quaerat tempore possimus esse nam sed accusantium inventore? Sapiente minima dicta sed quia sunt?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum qui, corrupti consequuntur. Officia consectetur error amet debitis esse minus quasi, dicta suscipit tempora, natus, vitae voluptatem quae libero. Sunt nulla culpa impedit! Aliquid cupiditate, impedit reiciendis dolores, illo adipisci, omnis dolor distinctio voluptas expedita maxime officiis maiores cumque sequi quaerat culpa blanditiis. Quia tenetur distinctio rem, quibusdam officiis voluptatum neque!</p>
        </div>

        <br>
        <br>
      </div>

      <div class="sidebar-item recent-posts">
        <div class="sidebar-heading">
          <h2>Availability &amp; Prices</h2>
        </div>

        <div class="content">
          <div class="table-responsive">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                 <thead>
                      <tr>
                           <th>Package</th>
                           <th>From</th>
                           <th>To</th>
                           <th>Price</th>
                      </tr>
                 </thead>

                 <tbody>
                      <tr>
                           <td></td>
                           <td>01-06-2020</td>
                           <td>31-12-2020</td>
                           <td>€ 300 per night</td>
                      </tr>

                      <tr>
                           <td></td>
                           <td>01-06-2020</td>
                           <td>31-12-2020</td>
                           <td>€ 300 per night</td>
                      </tr>

                      <tr>
                           <td></td>
                           <td>01-06-2020</td>
                           <td>31-12-2020</td>
                           <td>€ 300 per night</td>
                      </tr>
                      <tr>
                           <td></td>
                           <td>01-06-2020</td>
                           <td>31-12-2020</td>
                           <td>€ 4000 total price</td>
                      </tr>
                 </tbody>
            </table>
          </div>
        </div>

        <br>
        <br>
      </div>

      <div class="sidebar-item recent-posts">
        <div class="sidebar-heading">
          <h2>Info</h2>
        </div>

        <div class="content">
          <ul class="list-group list-group-no-border">
            <li class="list-group-item">
               <div class="row">
                    <div class="col-md-2 col-sm-3">
                         <p class="pjVpProductPolicyTitle">
                              <strong>Check-in</strong>
                         </p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                         <p>
                              Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum.
                         </p>
                    </div>
               </div>
            </li>

            <li class="list-group-item">
                 <div class="row">
                      <div class="col-md-2 col-sm-3">
                           <p>
                                <strong>Check-out</strong>
                           </p>
                      </div>

                      <div class="col-md-10 col-sm-9">
                           <p>
                                Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum.
                           </p>
                      </div>
                 </div>
            </li>

            <li class="list-group-item">
                 <div class="row">
                      <div class="col-md-2 col-sm-3">
                           <p>
                                <strong>Pets</strong>
                           </p>
                      </div>
                      <div class="col-md-10 col-sm-9">
                           <p>
                                Not allowed
                           </p>
                      </div>
                 </div>
            </li>

            <li class="list-group-item">
                 <div class="row">
                      <div class="col-md-2 col-sm-3">
                           <p>
                                <strong>Policies</strong>
                           </p>
                      </div>
                      <div class="col-md-10 col-sm-9">
                           <div>
                                <p>
                                     Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum. <br>
                                      Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum. <br>
                                </p>
                           </div>
                      </div>
                 </div>
            </li>

            <li class="list-group-item">
                 <div class="row">
                      <div class="col-md-2 col-sm-3">
                           <p>
                                <strong>Fees</strong>
                           </p>
                      </div>

                      <div class="col-md-10 col-sm-9">
                           <div>
                                <p>
                                     Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum. <br>
                                      Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum. <br>
                                </p>
                           </div>
                      </div>
                 </div>
            </li>
          </ul>
        </div>
      </div>

      <br>
      <br>

      <div class="sidebar-item recent-posts">
        <div class="sidebar-heading">
          <h2>Map</h2>
        </div>

        <div class="content">
          <img src="assets/images/map.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Linkedin</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>
              Copyright © 2020 Company Name
              | Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="contact-us">
          <div class="contact-form">
            <form action="#" id="contact">
                <div class="row">
                     <div class="col-md-6">
                        <fieldset>
                          <input type="text" class="form-control" placeholder="Enter full name" required="">
                        </fieldset>
                     </div>

                     <div class="col-md-6">
                        <fieldset>
                          <input type="text" class="form-control" placeholder="Enter email address" required="">
                        </fieldset>
                     </div>
                </div>

                <div class="row">
                     <div class="col-md-6">
                        <fieldset>
                          <input type="text" class="form-control" placeholder="Enter phone" required="">
                        </fieldset>
                     </div>

                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-6">
                              <fieldset>
                                <input type="text" class="form-control" placeholder="From date" required="">
                              </fieldset>
                           </div>

                           <div class="col-md-6">
                              <fieldset>
                                <input type="text" class="form-control" placeholder="To date" required="">
                              </fieldset>
                           </div>
                        </div>
                     </div>
                </div>
            </form>
         </div>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Send Request</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Additional Scripts -->
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/accordions.js"></script>

  <script language = "text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }
  </script>

