.yellow-star {
  color: yellow;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
}

.btn-primary {
  margin-top: 10px;
}
