<!-- hotel-details.component.html -->
<div class="container">
  <h2>Hotel Details</h2>
  <div *ngIf="hotel">
    <div class="card">
      <img [src]="hotel.imageUrl || 'url_de_l_image_de_remplacement'" class="card-img-top" alt="{{ hotel.name }}">
      <div class="card-body">
        <h3 class="card-title">{{ hotel.name }}</h3>
        <p class="card-text">Address: {{ hotel.address }}</p>
        <p class="card-text">Rating:
          <span *ngFor="let _ of [].constructor(hotel.rating); let i = index">
            <i class="fas fa-star text-warning yellow-star"></i>
          </span>
        </p>
        <!-- Display new fields -->
        <p class="card-text">Country: {{ hotel.country }}</p>
        <p class="card-text">Location: {{ hotel.location }}</p>
        <p class="card-text">Check In: {{ hotel.checkIn | date }}</p>
        <p class="card-text">Check Out: {{ hotel.checkOut | date }}</p>
        <p class="card-text">Duration (days): {{ hotel.duration }}</p>
        <p class="card-text">Members: {{ hotel.members }}</p>
        <!-- End of new fields -->
      </div>
    </div>
  </div>
</div>
