<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">User Transport Booking List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div >
          <table class="table table-responsive-xl">
            <thead>
              <tr>
                <th>Transport number</th>
                <th>Date</th>
                <th>duration</th>
                <th>Luggage</th>
                <th>Number of Person</th>
                <th>Status</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transport of transports" class="alert" role="alert">

                <td>{{ transport.transportId }}</td>
                <td>{{ transport.date | date: 'yyyy-MM-dd'}}</td>
                <td>{{ transport.duration }} Days</td>
                <td>{{ transport.nbPerson }}</td>
                <td>{{ transport.luggage }}</td>

                <td class="status"><span  [ngClass]="{ 'active': transport.status=='accepted', 'waiting': transport.status=='en attente' || transport.status=='expired' , 'refuser': transport.status=='refused' || transport.status=='soldout'}" >{{transport.status}}</span></td>
                <td *ngIf="transport.status=='en attente'"  class="border-bottom-0">
                  <button type="button" class="edit" (click)="navigateToUpdatePage(transport)">
                    <span aria-hidden="true"><i class="fas fa-marker"></i></span>
                  </button>
                </td>
                <td *ngIf="transport.status=='en attente'" >
                  <button type="button" class="close" (click)="cancel(transport._id)" >
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                  </button>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix text-center">
    <ul class="pagination">
      <li ><a (click)="goToPreviousPage()" class="page-link"><i
            class="fa fa-angle-double-left"></i></a></li>
      <li class="page-item" [class.active]="currentPage === page"
        *ngFor="let page of generatePageNumbers(numberOfPages);">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item"><a (click)="goToNextPage()" class="page-link"><i
            class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</section>

