<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Flight Booking List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <table class="table table-responsive-xl">
            <thead>
              <tr>
                <th>Hotel number</th>
                <th>Client name</th>
                <th>check In</th>
                <th>check Out</th>
                <th>Rooms number</th>
                <th>room Type</th>
                <th>beds number</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hotel of hotels" class="alert" role="alert">

                <td>{{ hotel.hotelId }}</td>
                 <td>
                    <span>{{hotel.username }}</span>
                </td>
                <td>{{ hotel.checkIn | date: 'yyyy-MM-dd'}}</td>
                <td>{{ hotel.checkOut | date: 'yyyy-MM-dd'}}</td>
                <td>{{ hotel.nbRooms }}</td>
                <td>{{ hotel.roomType }}</td>
                <td>{{ hotel.nbBeds }}</td>
                <td>
                  <button type="button" class="accept"(click)="accepter(hotel)">
                    <span aria-hidden="true"><i class="fas fa-check"></i></span>
                  </button></td>
                <td>

                  <button  type="button" class="close" (click)="refuser(hotel._id)">
                       <span aria-hidden="true"><i class="fa fa-close"></i></span></button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix text-center">
    <ul class="pagination">
      <li ><a (click)="goToPreviousPage()" class="page-link"><i
            class="fa fa-angle-double-left"></i></a></li>
      <li class="page-item" [class.active]="currentPage+1 === page"
        *ngFor="let page of generatePageNumbers(numberOfPages);">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item"><a (click)="goToNextPage()" class="page-link"><i
            class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</section>

