<section id="pack" class="packages">
  <div class="container">
    <div class="gallary-header text-center">
      <h2>
        special packages
      </h2>
      <p>
        Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.
      </p>
    </div><!--/.gallery-header-->
    <div class="packages-content">
      <div class="row">

        <div *ngFor="let flight of flights" class="col-md-4 col-sm-6" >
          <div class="single-package-item">

            <img [src]="flight.imagePath" alt="package-place">
            <div class="single-package-item-txt">
              <h3>{{flight.destination}} <span class="pull-right">{{flight.price}} $</span></h3>
              <div class="packages-para">
                <p>
                  <span>
                    <i class="fa fa-plane-departure"></i> {{flight.date  | date: 'yyyy-MM-dd'}}
                  </span>
                  <i class="fas fa-clock"></i>  {{ formatDuration(flight.duration) }}
                </p>
                <p>
                  <span *ngIf="flight.returnDate!=null">
                    <i class="fa-solid fa-plane-arrival"></i> {{flight.returnDate | date: 'yyyy-MM-dd'}}
                  </span>
                  <i class="fa fa-angle-right"></i> {{flight.departure}}
                 </p>
              </div><!--/.packages-para-->
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>2544 review</span>
                </p>
              </div><!--/.packages-review-->
              <div class="about-btn">
                <button  class="about-view packages-btn">
                  book now
                </button>

              </div><!--/.about-btn-->
              <div class="about-btn">

              <button  class="about-view packages-btn" (click)="navigateToUpdatePage(flight._id)">
                update
              </button>
            </div><!--/.about-btn-->
            <div class="about-btn">

              <button  class="about-view packages-btn" (click)="delete(flight._id)">
                delete
              </button>
            </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.packages-content-->
  </div><!--/.container-->
  <div class="clearfix text">

    <div class="hint-text"> <b>{{currentPage}}</b> - <b>{{numberOfPages}}</b>
    </div>
    <ul class="pagination">
      <li class="page-item"><a (click)="goToPreviousPage()" class="page-link"><i
            class="fa fa-angle-double-left"></i></a></li>
      <li class="page-item" [class.active]="currentPage === page"
        *ngFor="let page of generatePageNumbers(numberOfPages);">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item"><a (click)="goToNextPage()" class="page-link"><i
            class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</section>
